{% extends 'base.html' %}
{% block conteudo %}
    <div class="container_post_create">
        <h1>Editar publicação</h1>
        
        <form action="{% url 'post_update' id_post.id %}" method="POST">
            {% csrf_token %}
            <div class="input_post_create">
                <label for="categoria">Categoria:</label>
                <select name="categoria" id="categoria">
                    <option value="{{ id_post.categoria }}" selected>{{ id_post.categoria }}</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria }}">{{ categoria.nome_categoria }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input_post_create">
                <input type="text" value="{{ usuario_id }}" name="{{ usuario_id }}" id="{{ usuario_id }}" hidden>
            </div>
            <div class="input_post_create">
                <label for="titulo">Titulo:</label>
                <input type="text" name="titulo" id="titulo" value="{{ id_post.titulo }}">
            </div>
            <div class="input_post_create">
                <textarea name="publicacao" id="publicacao" cols="189" rows="35">{{ id_post.publicacao }}</textarea>
            </div>
            <div class="button_categorias">
                <button class="button_confirm" type="submit">Confirmar</button>
            </div>
        </form>
    </div>
{% endblock %}