{% extends 'base.html' %}

{%block titulo %}Publicações{% endblock%}

{% block conteudo %}
<div class="main_posts">
    <h1>Publicações</h1>
    <div class="box_search">
        <form action="{% url 'search' %}" method="GET">
            <input type="text" name="termo" id="termo" value="{{ request.GET.termo }}" placeholder="Pesquisa">
            <a href="{% url 'post' %}" title="Resetar Pesquisa">X</a>
        </form>
    </div>
    <div class="post">
        <table>
            <thead>
                <th>Usuário</th>
                <th>Titulo</th>
                <th>Data</th>
                {% if usuario_tipo == 'AU' %}
                <th>Ações</th>
                {% endif %}
            </thead>
            {% for post in posts %}
            <tbody>
                <tr>
                    <td onclick="redirect('{{ post.id }}')">{{ post.autor }}</td>
                    <td onclick="redirect('{{ post.id }}')">{{ post.titulo }}</td>
                    <td onclick="redirect('{{ post.id }}')">{{ post.date_create }}</td>
                    {% if usuario_tipo == 'AU' %}
                    <td>
                        <a class="button_post_update" href="{% url 'post_update' post.id %}" title="Editar publicação">
                            Editar
                        </a>
                        <!-- <button class="button_post_delete" onclick="alert_delete('{{ post.id }}')">DELETAR</button> -->
                        <a class="button_post_delete" href="{% url 'post_verified' post.id %}">Deletar</a>
                    </td>
                    {% endif %}
                </tr>
            </tbody>
            <!-- </a> -->
            {% endfor %}
        </table>
    </div>
    {% if usuario_tipo == 'AU' %}
    <div class="button_categorias">
        <a class="button_confirm" href="{% url 'post_create' %}">Criar publicação</a>
    </div>
    {% endif %}
    <div class="footer_paginator">
        {% for pagina in posts.paginator.page_range %}
        {% if posts.number == pagina %}
        <div class="page_select">
            <a href="?page={{ pagina }}">{{ pagina }}</a>
        </div>
        {% else %}
        <div>
            <a href="?page={{ pagina }}">{{ pagina }}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <script>
        function redirect(post_id) {
            const url = "{% url 'view_post' 123 %}"
            window.location.assign(url.replace('123', post_id))

        }

    </script>
</div>
{%endblock%}