{% extends 'base.html' %}
{%block titulo %}Publicações{% endblock%}
{% block conteudo %}
<div class="main_posts">
    <h1>Publicações</h1>
    {% for posts in posts %}
    <a href="{% url 'view_post' posts.id %}" class="link_post">
        <div class="post">
            <div class="content_post">
                <label for="titulo_post">Titulo: </label><br>
                <a href="{% url 'view_post' posts.id %}" name="titulo_post">{{ posts.titulo }}</a>
            </div>
            <div class="content_post">
                <label for="mansagem_post">Categoria: </label><br>
                <p name="mansagem_post">{{ posts.categoria }}</p>
            </div>
            <div class="content_post">
                <label for="mansagem_post">Mensagem: </label><br>
                <p name="mansagem_post">{{ posts.publicacao }}</p>
            </div>
            <div class="content_post">
                <label for="data_post">Publicado em: </label>
                <p name="data_post">{{ posts.date_create }}</p>
            </div>
            {% if usuario_tipo == 'AU' %}
            <a class="button_post_update" href="{% url 'post_update' posts.id %}" title="Editar publicação">
                Editar
            </a>
            <button class="button_post_delete" onclick="alert_delete('{{ posts.id }}')">DELETAR</button>
            {% endif %}
        </div>
    </a>
    {% endfor %}
    {% if usuario_tipo == 'AU' %}
    <div class="button_categorias">
        <a class="button_confirm" href="{% url 'post_create' %}">Criar publicação</a>
    </div>
    {% endif %}
    <div class="footer_paginator">
        {% for pagina in posts.paginator.page_range %}
            {% if posts.number == pagina %}
            <div class="page_select">
                <a href="?page={{ pagina }}">{{ pagina }}</a>
            </div>
            {% else %}
            <div>
                <a href="?page={{ pagina }}">{{ pagina }}</a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function alert_delete(post_id) {
            const confirma_delete = confirm('tem certeza que deseja excluir este usuário?')
            console.log(post_id)
            if (confirma_delete) {
                const url = "{% url 'post_delete' 123 %}"
                window.location.assign(url.replace('123', post_id))
            }
        }

    </script>
</div>
{%endblock%}