{% extends 'base.html' %}
{%block titulo %}Usuários{% endblock %}
{% block conteudo %}
    <div class="container_users">
        <div class="content_user">
            <h1>Página de usuários</h1>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Usuário</th>
                    <th>Acesso</th>
                </tr>
                {% for usuario in user %}          
                <tr>
                    <td>{{ usuario.nome_autor }}</td>
                    <td>{{ usuario.sobrenome }}</td>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.tipo }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="box_button_add_user">
                <a class="button_confirm" href="{% url 'cadastro' %}">Novo usuário</a>
            </div>
        </div>
    </div>
    <div class="footer_paginator">
        {% for pagina in user.paginator.page_range %}
            {% if user.number == pagina %}
                <div class="page_select">
                    <a href="?p={{ pagina }}">{{ pagina }}</a>
                </div>
                {% else %}
                <div>
                    <a href="?p={{ pagina }}">{{ pagina }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}